.avatar__upload > div > span > div{
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.avatar__upload > div > span {
    padding: 0 !important   ;
}

.avatar__upload > div > span > div > p:first-child{
    margin-right: 12px;
}


